html, body{
  width: 375px;
  height: 600px;
  margin: 0;
}
#app-content {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-header {
  align-items: center;
  background: #efefef;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  flex: 0 0 auto;
  padding: 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 26;
}

.app-header__contents {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
}

.app-header__logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.brand-name{
  margin-left: 12px;
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.heading{
  font-size: 1.8rem;
  margin: 15px 0 25px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.ls-1 {
  letter-spacing: 1px;
}

/* .popup {
  width: 320px;
  height: 480px;
  margin: 0;
  
} */
.t-up{
  text-transform: uppercase
}
.header {
  background: #3ecf8e;
  height: 30px;
  text-align: center;
  padding: 14px 0;
  color: #fff
}

.popup h1 {
  margin: 0;
}

.container {
  width: 320px;
}
.content {
  padding: 0 10px 10px;
  display: block;
  margin-top: 10px;
}
.link {
  font-size: 16px;
  text-decoration: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgb(218, 220, 224);
  color: #000;
  text-align: center;
}
.link-block {
  display: inline-block;
  width: calc(100% - 20px);
}

.link:hover {
  background-color: rgba(66,133,244, 0.04);
  border-color: rgb(210, 227, 252);
}
.form-field{
  margin: 25px 0;
}

.form-field label {
  color: #555;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.form-field input {
  width: calc(100% - 30px);
  padding: 15px;
  border-radius: 3px;
  border: 1px solid rgb(218, 220, 224);
  margin-top: 8px;
  font-size: 15px;
}

.form-field input:hover {
  border-color: rgb(210, 227, 252);
}

.alert{
  margin: 10px 0;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  letter-spacing: .3px;
  font-weight: bold;
}

.alert-error{
  background: rgb(255, 0, 0, .5);
  border-color: rgba(255,0,0,.7);
  color: #fff;
}
.alert-success {
  background: rgba(0, 128, 0, .7);
  border-color: rgba(0, 128,0, .8);
  color: #fff;
}

.profile{
  font-size: 20px;
}

.d-block {
  display: block
}
.lheaidng{
  color: #555;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 7px;
}